<div class="card mx-auto">
    <div class="content" style="padding:20px;">
        <h1>EXAM - ANSWERS</h1>
        <ul>
            {{#each userAnswers}}
            <li>
                <p>{{this.definition}}</p>
                {{#if this.error}}
                <span class="wrong-answer">{{this.userAnswer}}</span>
                <i class="fas fa-times-circle"></i>
                <i class="fas fa-long-arrow-alt-right"></i>
                <span class="correct-answer">{{this.goodAnswer}}</span>
                {{else}}
                <span class="correct-answer">{{this.userAnswer}}</span>
                <i class="fas fa-check"></i>
                {{/if}}
            </li>
            <hr>
            {{/each}}
        </ul>
    </div>
</div>