<div class="card mx-auto">
    <div class="content">
        <h1>EXAM</h1>
        <form action="/exams/validate-test" method="POST">
            <ul>
                {{#each questions}}
                <li>
                    <input type="hidden" name="item" value="{{this.id}}">
                    <input type="hidden" name="definition" value="{{this.definition}}">
                    <input type="hidden" name="question" value="{{this.question}}">
                    <input type="hidden" name="answer" value="{{this.answer}}">
                    <p>{{{this.definition}}}</p>
                    <span>{{{this.question}}}</span>
                    <i class="fas fa-lightbulb" title="View hint" style="padding-left: 10px;" onclick="showhide('{{this.id}}')">
                    </i>
                    <p id="{{this.id}}" class="hidden" style="color:blue">Hint: {{{this.hint}}}</p>
                </li>
                <hr>
                {{/each}}
            </ul>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Check answers
                </button>
            </div>
        </form>
    </div>
</div>

<script>

function showhide(id) {
  
  var div = document.getElementById(id);
  div.classList.toggle('hidden'); 
}
</script>