<div class="container">

    <div class="row">
        <form action="/notes/search" method="POST">
            <input type="search" name="text" placeholder="Search..." aria-label="Search" class="search-form" autofocus>
            <button class="btn btn-outline-success search-btn" type="submit">Search</button>
        </form>
        <img src="/img/switch.png" class="img-switch" id="switchButton">
        <form action="/exams/take-exam" method="GET" class="exam-btn">
            <button class="btn btn-primary" type="submit">Take an exam!</button>
        </form>
    </div>
    <div class="row">
        {{#each arrayNotes}}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="card flip-card-front justify-content-center">
                    <h4>
                        {{this.idiom_es}}
                    </h4>
                    <hr>
                    <p>"{{this.example_es}}"</p>
                </div>
                <div class="card flip-card-back justify-content-center">
                    <h5>{{this.idiom_en}}</h5>
                    <hr>
                    <p>"{{this.example_en}}"
                    </p>
                </div>
            </div>
            <form action="/notes/delete/{{this.id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger btn-sm" style="width: 50%;float:left" type="submit">
                    delete
                </button>
            </form>
            <form action="/notes/edit/{{this.id}}">
                <button class="btn btn-primary btn-sm" style="width: 50%; float:right" type="submit">
                    edit
                </button>
            </form>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1> Hello {{user.name}}</h1>
                <p class="lead">There are not idioms yet</p>
                <a href="/notes/add" class="btn btn-success btn-block">
                    Create idiom
                </a>
            </div>
        </div>

        {{/each}}
    </div>
</div>

<script>
    document.getElementById("switchButton").addEventListener("click", switchLanguage);

    function switchLanguage() {

        let root = document.documentElement;
        const a = getComputedStyle(root).getPropertyValue('--flip-card-1');
        const b = getComputedStyle(root).getPropertyValue('--flip-card-2');

        root.style.setProperty('--flip-card-1', b);

        root.style.setProperty('--flip-card-2', a);

    }
</script>